.right-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.mainList {
    padding: 0 15px;
}

.formModal {
    margin: 20px 0;
}

.form {
    width: 100%;
    border: 1px solid black;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.title {
    max-width: 50%;
    word-wrap: break-word;
    margin-right: auto;
    margin-left: 10px;
}

.btn {
    display: flex;
    gap: 10px;
}

.detailBtn, .removeBtn, .doneBtn, .removeSelectedBtn {
    width: 100px;
    height: 34px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.detailBtn {
    background-color: #00BCD4;
}
.detailBtn:active{
    background-color: #006f7e;
}

.removeBtn {
    background-color: #D9534F;
}
.removeBtn:active {
    background-color: #a91d18;
}

.detailShow {
    border: 1px solid black;
    padding: 20px;
}

.detailHide {
    display: none;
}

.bulkAction {
    display: flex;
    padding: 20px 20px; 
    margin-top: auto;
    background-color: #E0E0E0;
    justify-content: space-between;
    align-items: center;
}

.doneBtn {
    background-color: #2196F3;
}
.doneBtn:active {
    background-color: #0a65ae;
}

.removeSelectedBtn {
    background-color: #D9534F;
}
.removeSelectedBtn:active {
    background-color: #c61e18;
}

@media only screen and (max-width: 800px) {
    .btn {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .bulkAction {
        width: 100%;
    }
  }