*{
  box-sizing: border-box;
}

.App {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
}

h1 {
  text-align: center;
}

.newTask {
  width: 40%;
  border-right: 1px solid black;
  padding: 0 15px;
}

.todoList {
  width: 60%;
  padding: 0 15px;
}
